<div class="mb-4">
  <a
    class="text-primary font-bold cursor-pointer hover:underline"
    (click)="goToDashboardView()">
    <i class="pi pi-arrow-left mr-1"></i>
    Back to Dashboard
  </a>
</div>

<div *ngIf="currentOrder">
  <p-table [value]="currentOrder.order" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-order>
      <tr>
        <td>{{ order.coffee_details.name }}</td>
        <td>{{ order.quantity }}</td>
        <td>
          <p-button
            severity="danger"
            size="small"
            (click)="cancelOrder(order)">
            Cancel Order
          </p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
