<div class="home">
  <div class="flex justify-content-between align-items-center">
    <h1 class="text-primary">Coffee Mahal</h1>
    <div
      class="home__buttons"
      *ngIf="(isLoggedIn$ | async) === false; else tableNav">
      <p-button
        label="Log In"
        routerLink="/login"
        [outlined]="true"
        size="small"
        class="mr-2"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"></p-button>

      <p-button label="Sign Up" size="small" routerLink="/register"></p-button>
    </div>

    <ng-template #tableNav>
      <p-button
        routerLink="/tables"
        outlined="true"
        size="small"
        label="Go to Tables"></p-button>
    </ng-template>
  </div>

  <div class="flex flex-column">
    <p class="text-5xl text-primary mt-8">
      Welcome to
      <span class="font-bold">COFEE MAHAL.</span>
    </p>

    <div class="image-container">
      <img
        ngSrc="assets/coffee-shop-photo.jpg"
        width="5128"
        height="3045"
        priority
        alt="Coffee Mahal photo" />
    </div>
  </div>
</div>
