<div class="dashboard bg-primary-50">
  <div class="dashboard__container">
    <div
      class="dashboard__header flex justify-content-between align-items-center">
      <h1 class="text-primary-700">Coffee Mahal</h1>
      <div class="dashboard__buttons">
        <p-avatar
          label="SK"
          styleClass="mr-5 select-none cursor-pointer"
          size="large"
          shape="circle"
          [style]="{
            'background-color': '#964315',
            color: '#ffffff',
            fontSize: '1.2rem',
            width: '2.5rem',
            height: '2.5rem'
          }" />
        <p-button
          label="Log Out"
          size="small"
          [outlined]="true"
          (click)="logout()"></p-button>
      </div>
    </div>

    <div>
      <div class="dashboard__hero">
        <p class="text-primary -mb-4 text-xl">SIP, SMILE AND REPEAT.</p>
        <h1 class="text-primary-700 text-6xl">
          Brewing Up Smiles, One Cup at a Time.
        </h1>
        <p-button class="mr-2" [outlined]="true">Explore more</p-button>
        <p-button
          (click)="goToOrderView()"
          *ngIf="currentOrder?.order?.length > 0">
          View my orders
        </p-button>
      </div>

      <router-outlet
        (activate)="getOrderInfo()"
        (detach)="getOrderInfo()"
        (deactivate)="getOrderInfo()"></router-outlet>
    </div>

    <div class="text-center bg-white mt-8 py-4">
      <p class="text-primary font-bold text-xl">Coffee Mahal 2023.</p>
    </div>
  </div>

  <p-toast></p-toast>
</div>
